/*#region general styling*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

* {
    --background_color: #000000;
    --background_color2: #313131;
    --accent_color: red;

    --header_height: fit-content;
    --footer_height: 100px;

    --start_height: fit-content;
    --start_width: 80vw;

    --about_height: fit-content;
    --about_width: 60vw;

    --news_height: 45vh;
    --news_width: 20vw;

    --member_height: 60vh;
    --member_width: 20vw;

    --nav_item_width: 150px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: visible;
}

body {
    background-color: var(--background_color);
    color: #ffffff;
    width: 100vw;
}


h1 {
    font-size: 3rem;
    text-align: center;
    font-family: KingSpikes;
    letter-spacing: 5px;
}

h2 {
    color: var(--accent_color);
    font-size: 2rem;
    text-align: center;
    font-family: MetalGothic;
    letter-spacing: 5px;
}

h3 {
    font-size: 1.7rem;
    text-align: center;
    font-family: MetalGothic;
    letter-spacing: 5px;
}

p {
    margin: 20px;
    font-size: 1.3rem;
    font-family: ReadableGothic;
    color: #bbbbbb;
}

a {
    margin: 20px;
    font-size: 1.5rem;
    font-family: MetalGothic;
    color: #bbbbbb;
}

@font-face {
    font-family: KingSpikes;
    src: url("../fonts/Kingthings_Spikeless.ttf")
}

@font-face {
    font-family: MetalGothic;
    src: url("../fonts/MetalGothicDemoVersionRegular.ttf")
}

@font-face {
    font-family: ReadableGothic;
    src: url("../fonts/GODOFWAR.TTF")
}

/*#endregion*/

/*#region landing page*/

#start_grid_wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--header_height) 1fr var(--footer_height);
    grid-template-areas:
        "head"
        "text"
        "foot";
}

#start_main {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    gap: 20px;
    position: relative;
    margin-left: calc((100vw - var(--start_width)) / 2);
    width: var(--start_width);
    height: var(--start_height);
}


#start_info {
    grid-area: about;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 100%;
}

#start_embed_div {

    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: embed;
    width: 100%;
    height: 100%;
}


#start_members_div {
    grid-area: members;
}

#start_members {
    display: flex;
    flex-wrap: wrap; /* Allow members to wrap onto new rows */
    justify-content: space-around; /* Center members horizontally */
    gap: 20px;
}


.start_member {
    grid-area: members;
    display: flex;
    flex-direction: column;

    height: fit-content;
    width: var(--member_width);

}

.start_member_img_div {
    width: fit-content;
    height: fit-content;
}

.start_member_img {
    filter: grayscale();
    width: 20vw;
    height: auto;
}

.start_member:hover {
    background-color: rgba(0, 0, 0, 0.4);
    animation: glow_hover 1s 0.5s ease-in infinite alternate, pre_glow_hover 0.5s linear;
}

.start_member:hover .start_member_img {
    filter: saturate(100%);
}

.start_member_socials>p {
    /*will probubually be removed when icons are implemented*/
    padding: 0px;
    margin: 0px;
}

#start_contact {
    grid-area: contact;
    margin: 20px;
}

/*#endregion*/

/*#region gallery page*/

.gallery_container {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery_img {
    width: 30%;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}

.gallery_img:hover {
    transform: scale(1.1);
}



/*#endregion*/

/* region discography */
.discography-container {
    display: flex;
    flex-direction: row;

    /* For future releases this grid can be used
     display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; */

}

.disc-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 400px
            
}

.disc-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.disc-card-img-div {
    display: flex;
    justify-content: center;
}

.disc-card-img {
    height: auto;
    width: 300px;
}

.disc-link-container {
    display: flex;
    justify-content: center;
}

.disc-link-container a {
    margin: 0 10px;
}

.disc-link-img {
    width: 2vw;
    height: auto;

}




/* end region */

/*#region header, footer and nav */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: var(--header_height);
    width: 100vw;
}

#header_links_container {
    overflow: visible;
    display: flex;
    align-items: center;
    height: 80%;
}

#logo_anchor {
    height: 90%;
}

#logo_img {
    height: 300px;
    width: auto;
}

.header_link {
    padding: 0 20px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

.header_link:hover {
    color: gray;
    animation: glow 1s ease-in infinite alternate;

}

#social_media_info {
    overflow: visible;
    display: flex;
    align-content: space-around;
}

.socialmedia_img {
    width: 3vw;
    height: auto;
}


footer {
    height: var(--footer_height);
    width: 100vw;
}

#bg_ref_div {
    z-index: -1;
    filter: blur(7px) brightness(25%);
    position: absolute;
    top: 0px;
    left: 0px;
    width: fit-content;
    height: fit-content;
}

#bg_ref {
    width: 100vw;
    height: auto;
    animation: bg_glow 5s ease-in infinite alternate;
}


/*#endregion*/

/*#region mobile */

/* desktop but not yet wide enough for a big screen */
@media (max-width: 1000px) {
    .socialmedia_img {
        width: 5vw;
        height: auto;
    }
}

/* Mobile */
@media (max-width: 768px) {

    p {
        width: 70vw;
    }

    .socialmedia_img {
        width: 8vw; /* Increase the width for mobile devices */
        height: auto; /* Maintain aspect ratio */
    }


    .start_member_img_div {
        display: flex;
        align-items: center;
        width: fit-content;
        height: auto;
    }

    .start_member_img {
        width: 100%;
        height: 100%;
    }

    .start_news_article:hover {
        grid-template-rows: 1fr auto;;
        box-shadow: 5px 10px var(--accent_color);
        margin-top: -10px;
    }

    .start_news_info {
        text-align: center;
        width: 100%; 
        padding: 0 30px; 
        box-sizing: border-box;
    }

    .start_news_info h3 {
        font-size: 1.4rem;
    }
    
    
   
      .start_member:hover {
        animation: none;
      }

    .header_link {
        font-size: 15px;
    }

    .start_news_article {
        width: 100vw;
    }

    .start_member {
        height: 100%;
        width: 100%;
        padding: 10px;
    

    }

    #header_links_container {
        width: 100vw;

    }


    #start_main {
        display: flex;
        flex-direction: column;
    }


    #logo_img {
        height: 100px;
        width: auto;
        margin: 0px;
    }


    #start_members {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


}

@media (max-width: 380px) {

    .header_link {
        font-size: 10px;
    }



}


/*#endregion*/

/*#region animations */


@keyframes start_news_hover {
    from {
        grid-template-rows: 7fr auto;
        box-shadow: 0px 0px var(--accent_color);
        margin-top: 0px;
    }

    to {
        grid-template-rows: 1fr auto;
        box-shadow: 5px 10px var(--accent_color);
        margin-top: -10px;
    }
}

@keyframes start_news_unhover {
    from {
        grid-template-rows: 1fr auto;
        box-shadow: 5px 10px var(--accent_color);
        margin-top: -10px;
    }

    to {
        grid-template-rows: 7fr auto;
        box-shadow: 0px 0px var(--accent_color);
        margin-top: 0px;
    }
}

@keyframes pre_glow_hover {
    from {
        box-shadow: 0 0 0px #fff, 0 0 0px var(--accent_color);
    }

    to {
        box-shadow: 0 0 5px #fff, 0 0 20px var(--accent_color);
    }
}

@keyframes glow_hover {
    from {
        box-shadow: 0 0 5px #fff, 0 0 20px var(--accent_color);
    }

    to {
        box-shadow: 0 0 5px #fff, 0 0 40px var(--accent_color);
    }
}

@keyframes glow {
    from {
        filter: drop-shadow(0px 0px 20px var(--accent_color));
    }

    to {
        filter: drop-shadow(0px 0px 50px var(--accent_color));
    }
}

@keyframes bg_glow {
    from {
        filter: drop-shadow(0px 0px 20px var(--accent_color));
    }

    to {
        filter: drop-shadow(0px 0px 120px var(--accent_color));
    }
}

/* Define the entrance animation */
@keyframes pageEntrance {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to the main content */
#start_main {
    animation: pageEntrance 0.8s ease-in-out;
}


/*#endregion*/