body {
    background-image: url("/img/bg.jpg"), url("/img/bg2.jpeg"); 
    background-size:auto cover;
    background-position: top, bottom;

    background-repeat: no-repeat, no-repeat;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color:rgba(0, 0, 0, 0.5);
    height: 250vh;
    margin: 80px;
    border-radius: 10px;
}

h1 {
    font-family: KingSpikes;
    letter-spacing: 10px;
    text-decoration: underline;
}

h2 {
    color: azure;
}

h3 {
    color: azure;
    font-family: KingSpikes;
    letter-spacing: 5px;
}

p {
    color: azure;
}

@font-face {
    font-family: KingSpikes;
    src: url("/fonts/Kingthings_Spikeless.ttf")
}

.main_container {
    height: 1000px;
    width: 100vw;
    background-color: blue;
}

.new_music {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.band_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.band_members {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.two_members {
    display: flex;
    flex-direction: row;
    margin: 10px; 

}

.member_img {
    height: 40vh;
    width: auto;
}

.title {
    letter-spacing: 10px;
    text-decoration: underline;
    text-align: center;
}

#second_member_div {
    margin-top: 100px;
    padding: 10px;
    text-align: center;
}

#fourth_member_div {
    padding: 10px;
    margin: 10px;
    text-align: center;

}

#logo_img {

}

#cross_img {
    margin: 10px;
    height: 80%;
}
